---
import type { CollectionEntry } from "astro:content";
import MainContainer from "@/components/Container/MainContainer.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, designDetails, tags, location, heroImage, pubDate } = Astro.props;
---

<MainContainer>
  <section>
    <img src={heroImage} alt={title} />
    <h1>{title}</h1>
    {
        designDetails && (
            <p>{designDetails}</p>
        )
    }
    <p>{location}</p>
    <div>
        { tags &&
            tags.map((tag) => (
                <span>{tag}</span>
            ))
        }
    </div>
    <p>{pubDate}</p>
  </section>
  <section>
    <slot/>
  </section>
</MainContainer>

