---
import type { CollectionEntry } from "astro:content";
import MainContainer from "@/components/Container/MainContainer.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, designDetails, tags, location, heroImage, pubDate } =
  Astro.props;
---

<MainContainer className="mx-auto max-w-3xl lg:max-w-7xl lg:px-6 xl:px-0">
  <section>
    <article
      class="grid grid-cols-1 gap-8 text-primary-800 lg:grid-cols-2 lg:p-8"
    >
      <div>
        <img
          class="h-[196px] w-full object-cover object-center lg:h-[340px] lg:w-[622px]"
          src={heroImage}
          alt={title}
        />
      </div>
      <div class="mx-5 space-y-5">
        <h1 class="text-4xl italic">{title}</h1>
        {
          designDetails && (
            <div class="space-y-5">
              <hr class="border-primary-800" />
              <p>{designDetails}</p>
            </div>
          )
        }

        {
          location && (
            <div class="space-y-5">
              <hr class="border-primary-800" />
              <div class="grid grid-cols-3">
                <h3 class="col-span-1 uppercase">location</h3>
                <p class="col-span-2">{location}</p>
              </div>
            </div>
          )
        }

        <div class="flex flex-row gap-x-2 pt-5">
          {
            tags &&
              tags.map((tag) => (
                <div class="flex flex-row">
                  <div class="arrow-left relative">
                    <div class="absolute left-3 top-1/2 h-1 w-1 -translate-y-1/2 transform rounded-full bg-white" />
                  </div>
                  <div class="bg-primary-700 p-2 text-white">{tag}</div>
                </div>
              ))
          }
        </div>
        <hr class="border-primary-800 pb-5" />
        {pubDate && <p>{pubDate}</p>}
      </div>
    </article>
  </section>
  <section>
    <slot />
  </section>
</MainContainer>
